.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS written for app components */

/* JSON Input Page */
.json-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.json-input {
  margin-bottom: 20px;
  background-color: #000a12;
  color: white;
  border: none;
  border-bottom: 1px solid #12005e;
  padding: 10px;
}

.json-input:focus {
  outline: none;
}

.form-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Prettify page */
.prettify-output {
  padding: 25px;
  color: white;
  line-height: 22px;
  font-size: 90%;
}

.string { color: #00e676; }
.number { color: #eeff41; }
.boolean { color: #ea80fc; }
.null { color: #ff3d00; }
.key { 
  color: #03DAC6;
  font-weight: bold;
}

/* Visualize JSON */
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { 
  font: 12px sans-serif;
  color: #fff;
}

.node-internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}